@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.container {
    margin-top: 80px; 
    text-align: center;
    padding-left: 20px; 
    padding-right: 20px;
  }
  
  .title {
    font-family: 'Poppins', sans-serif; 
    font-size: rem(36px); 
    font-weight: 700;
    background: linear-gradient(90deg, black, #feb47b); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
  }
  
  .card {
    width: calc(100% / 5 - 20px); 
    border-radius: 12px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    padding: 20px; 
    background-color: white; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  
    @media (max-width: $mantine-breakpoint-sm) {
      width: calc(100% / 2 - 20px); 
    }
  
    @media (max-width: 400px) {
      width: 100%; 
    }
  
    
    &:hover {
      transform: translateY(-5px); 
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    }
  }
  